.containner_Hotel_restaurant {
    width: 80%;
    margin: 11.5rem auto 0 auto;
}
body {
    background-color: #FFF;
}

.back_icons_back_restaurant {
    display: flex;
    font-size: 20px;
    gap: 0.5rem;
    color: #858080;
    align-items: center;
    margin-left: 3.5rem;
    margin-bottom: 2rem;
}

.content_itemRestaurant{
    width: 90%;
    margin: auto;
    margin-top: -3rem;
}

.container_head_restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0rem;
}

.container_head_restaurant h3 {
    font-size: 23px;
    font-family: 600;
}

.txt_head_restaurant{
    display: flex;
    align-items: center;
    gap: 10px;
}

.span_Style_restaurant {
    width: 20px;
    height: 40px;
    background-color: #3d76fb;
    border-radius: 4px;
}
.content_image_restaurant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.group_item_Box_restaurant {
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid #eee;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.group_item_Box_restaurant:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.group_item_Box_restaurant .image {
    width: 345px;
    height: auto;
    overflow: hidden;
}
.group_item_Box_restaurant .image:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}

.group_item_Box_restaurant .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}

.txt_desc_restaurant {
    display: flex;
    padding: 15px 15px;
    flex-direction: column;
    text-align: start;
    gap: 16px;
    list-style: none;
}
.txt_desc_restaurant h3:hover{
    color: #3d76fb;
    transition: 0.5s;
}


/* Small Screens */

@media (max-width: 768px) {
    .containner_Hotel_restaurant,
    .content_itemRestaurant {
      width: 90%;
      margin: 0 auto;
      margin-top: 6.5rem;
    }

    .back_icons_back_restaurant{
        margin-left: 1px;
    }
  
    .container_head_restaurant {
      padding: 2rem 0rem;
    }
  
    .content_image_restaurant {
      grid-template-columns: 1fr;
      gap: 0.8rem;
    }
  
    .group_item_Box_restaurant {
      width: 100%;
      overflow: hidden;
    }

    .back_icons_back_golf {
        margin-left: 8px;
    }
  
    .group_item_Box_restaurant .image {
      width: 100%;
      height: auto;
    }

    .group_item_Box_restaurant .image {
        width: 300px;
        height: auto;
        overflow: hidden;
    }
    
    .group_item_Box_restaurant .image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .content_itemRestaurant {
        width: 90%;
        margin-top: -2.5rem;
    }

    .span_Style_restaurant {
        width: 12px;
        height: 25px;
    }

    .container_head_restaurant h3{
        font-size: 19px;
    }
}



  