.containner_airplane {
    width: 80%;
    margin: 11.5rem auto 0 auto;
}
body {
    background-color: #FFF;
}

.back_icons_back_airpane {
    display: flex;
    font-size: 20px;
    gap: 0.5rem;
    color: #858080;
    align-items: center;
    margin-left: 3.5rem;
    margin-bottom: 2rem;
}

.content_itemAirplane{
    width: 90%;
    margin: auto;
    margin-top: -3rem;
}

.container_head_airplane {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0rem;
}

.container_head_airplane h3 {
    font-size: 23px;
    font-family: 600;
}

.txt_head_airplane{
    display: flex;
    align-items: center;
    gap: 10px;
}

.span_Style_airplane {
    width: 20px;
    height: 40px;
    background-color: #3d76fb;
    border-radius: 4px;
}
.content_image_airplane {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.group_item_Box_airplane {
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid #eee;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.group_item_Box_airplane:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.group_item_Box_airplane .image {
    width: 345px;
    height: auto;
    overflow: hidden;
}
.group_item_Box_airplane .image:hover img {
    transform: scale(1.1);
    transition: 0.3s;
}

.group_item_Box_airplane .image img {
    width: 100%;
    height: 310px;
    object-fit: cover;
    overflow: hidden;
    padding: 15px;
}

.txt_desc_airplane {
    display: flex;
    padding: 15px 15px;
    flex-direction: column;
    text-align: start;
    gap: 16px;
    list-style: none;
}
.txt_desc_airplane h3:hover{
    color: #3d76fb;
    transition: 0.5s;
}

.txt_sprice{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
}
.txt_sprice:hover{
    color: #3d76fb;
    transition: 0.5s;
}
.price_num{
    color: #fb4d3d;
    font-weight: 600;
}

.box_IoMdCart{
    display: flex;
    align-items: center;
    justify-content: end;
}
#icon_IoMdCart{
    font-size: 22px;
}


/* Small Screens */

@media (max-width: 768px) {
    .containner_airplane,
    .content_itemAirplane {
      width: 90%;
      margin: 0 auto;
      margin-top: 6.5rem;
      margin-bottom: 9rem;
    }

    .back_icons_back_airpane{
        margin-left: 1px;
    }
  
    .container_head_airplane {
      padding: 2rem 0rem;
    }
  
    .content_image_airplane {
      grid-template-columns: 1fr;
      gap: 0.8rem;
    }
  
    .group_item_Box_airplane {
      width: 100%;
      overflow: hidden;
    }
    .back_icons_back_golf {
        margin-left: 8px;
    }
  
    .group_item_Box_airplane .images {
      width: 100%;
      height: auto;
    }
    .group_item_Box_airplane .images {
        width: 300px;
        height: auto;
        overflow: hidden;
    }
    
    .group_item_Box_airplane .images img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .content_itemAirplane {
        width: 90%;
        margin-top: -2.5rem;
    }
}


  