/*  */
.box_container_guide {
  width: 100%;
  margin: auto;
  z-index: 999;
  padding: 100px 40px 20px 265px;
}
.box_content_guide {
  width: 100%;
  min-height: 80vh;
  height: auto;
  margin: auto;
  margin-top: 1rem;
  padding: 20px 20px 30px 20px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.GuideHead_content {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.text-head-guide{
  display: flex;
  align-items: center;
  gap: 10px;
}

.box_add_guide{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 7px 15px;
  border-radius: 5px;
  margin-right: 2rem;
  color: #ffffff;
  background-color: #15c65c;
}

.box_container_tourguide {
  width: 90%;
  margin: auto;
  display: grid;
  gap: 1rem;
}
.box_container_tourguide_admin {
  width: 100%;
  height: auto;
  display: flex;
  gap: 2rem;
  border: solid 1px #eee;
  border-radius: 5px;
  padding: 15px 20px;
  cursor: pointer;
  overflow: hidden;
}
.box_container_tourguide_admin:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.container_image_tourguide {
  width: 350px;
  height: auto;
  overflow: hidden;
}
.container_image_tourguide img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
}
.container_image_tourguide:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
/*  */

.container_desc_tourguide {
  width: 70%;
}
.container_desc_tourguide p {
  padding: 0 15px;
  margin-top: 15px;
}
.container_desc_tourguide h2:hover {
  color: #3d76fb;
  transition: 0.5s;
}

.txt_address {
  font-size: 16px;
}
.txt_address:hover {
  color: #3d76fb;
  transition: 0.5s;
}
.btn_delete_view {
  display: flex;
  gap: 10px;
  align-items: end;
}
.box_btn_saveDelete {
  background-color: #fa1f1fd7;
  padding: 8px 25px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.box_btn_saveEdit {
  background-color: #0e64d2;
  padding: 8px 25px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
/*  */
