.containnerOneday_body {
    width: 70%;
    margin: 11.5rem auto 0 auto;
}
body {
    background-color: #FFF;
}

.back_icons_back_one {
    display: flex;
    font-size: 20px;
    gap: 0.5rem;
    color: #858080;
    align-items: center;
    margin-left: 3.5rem;
    margin-bottom: 2rem;
}

.content_item_Oneday{
    width: 90%;
    margin: auto;
    margin-top: -3rem;
}
.container_txt_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
}

.container_txt_head h3 {
    font-size: 23px;
    font-family: 600;
}
.txt_head_Oneday{
    display: flex;
    align-items: center;
    gap: 10px;
}
.span_Styles {
    width: 20px;
    height: 40px;
    background-color: #3d76fb;
    border-radius: 4px;
}


/*============ box_container =============*/

.box_container{
    width: 100%;
    margin: auto;
    display: grid;
    gap: 1rem;
}
.box_container_body{
    width: 100%;
    height: auto;
    display: flex;
    gap: 2rem;
    border: solid 1px #eee;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    overflow: hidden;
}
.box_container_body:hover{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
.container_image{
    width: 300px;
    height: auto;
    overflow: hidden;
}
.container_image img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}
.container_image:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}
.container_des{
    width: 70%;
}
.container_des p{
    padding: 0 15px;
    margin-top: 15px;
}
.container_des h2:hover{
    color: #3d76fb;
    transition: 0.5s;
}
.SiGooglemaps{
    font-size: 16px;
}
.SiGooglemaps:hover{
    color: #3d76fb;
    transition: 0.5s;
}
#icon_map{
    font-size: 1.3rem;
    color: #3d76fb;
}

.txt_oneday{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.txt_price{
    margin-left: -1.2rem;
}
.txt_price:hover{
    color: #3d76fb;
    transition: 0.5s;
}
.price_number_one{
    color: #fb4d3d;
    font-weight: 600;
}



/*===== Responsive =====*/

@media only screen and (max-width: 576px) {
    .containnerOneday_body {
        width: 90%;
        margin: 6.5rem auto 0 auto;
        
    }

    .back_icons_back_one {
        margin-left: -0.5rem;
        margin-bottom: 1rem;
    }

    .content_item_Oneday {
        width: 100%;
        margin: auto;
        margin-top: -2.5rem;
        margin-bottom: 10rem;
    }

    .container_txt_head {
        margin-top: 1rem;
    }
    .container_image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }
    .box_container{
        margin-top: -1.5rem;
    }
    .box_container_body{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .container_des{
        width: 100%;
    }
    .container_des p{
        font-size: 20px;
    }
}