body {
    background-color: #f5f5f53f;
}

/* Left bar */
#dashboard .left {
    position: fixed;
    left: 0;
    width: 235px;
    height: 830px;
    z-index: 999;
    background-color: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

/* menu */
#dashboard .left .menu {
    margin-top: 7rem;
    display: grid;
    gap: 2.2rem;
    justify-content: center;
}

#dashboard .left .menu .link {
    display: flex;
    gap: 1rem;
    padding: 10px 45px;
    font-size: 1.2rem;
    border-radius: 7px;
    cursor: pointer;
    color: #737791;
    font-weight: 400;
}

#dashboard .left .menu .link:hover {
    color: #165cffaa;
    transition: 0.3s;
}

#dashboard .left .menu .link:hover .txtP {
    color: #165cffaa;
    transition: 0.3s;
}


.link_iconn {
    font-size: 23px;
}

#dashboard .left .menu .link p {
    margin-left: 1rem;
}

/* Right bar */
#dashboard .right {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 0 2rem;
}

/* form */
.logo_store_name {
    margin-left: 2rem;
}

.logo_store_name img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.box_popupImage_logo {
    width: 160px;
    height: auto;
    position: relative;
    object-fit: cover;
}

.box_popupImage_logo img {
    width: 100%;
    height: 65px;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3px;
}

.popup_image_logo {
    position: absolute;
    top: 45px;
    left: 175px;
    background-color: #fff;
    border-radius: 5px;
    padding: 3px 3px 0 3px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    font-size: 15px;
    cursor: pointer;
}

#box_icon_camera {
    color: #f46738;
}

.boximage_admin {
    overflow: hidden;
}

.userAdminImage {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    color: #737791;
}

.userAdminImage img {
    width: 15%;
}

.boxAlertDelete2 {
    top: 0;
    width: 100%;
    height: 120vh;
    position: fixed;
    z-index: 9999;
    background-color: #0000003b;
}


/* ============ popup logout ===========*/
.background_addproductpopup_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000036;
    z-index: 999;
}

.hover_addproductpopup_box_image {
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_input_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 35vh;
    object-fit: cover;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box_input_image input {
    width: 80%;
    border-radius: 7px;
    display: none;
}

.box_input_image img {
    width: 215px;
    height: 185px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 7px;

}

.box_input_image p {
    font-size: 18px;
}

.box_choose_image {
    position: absolute;
    color: white;
    top: 17%;
    left: 26%;
    padding: 5.2rem 3.8rem;
    background-color: #00000089;
    border-radius: 7px;
    cursor: pointer;
}



.hover_addproductpopup_box {
    width: 30%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_logout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 15vh;
    background-color: #FFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box_logout p {
    font-size: 18px;
}

.btn_cancel {
    background-color: #F2F3F7;
    color: #000;
    font-size: 18px;
}

.btn_confirm {
    background-color: #347FFF;
    color: #FFF;
    font-size: 18px;
}

.btn_cancel:hover {
    background-color: #e7e8ee;
}

.btn_confirm:hover {
    background-color: #3076f0;
}

.btn_addproducttxt_popup {
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 20px;

}

.input_of_txtAddproduct {
    width: 80%;
    border-radius: 30px;
    padding: 20px;
    border: 1px solid #DDDCE1;
}

.btn_foasdf {
    display: flex;
}


.menu_inline:hover #icon_AiOutlineRight {
    color: black;
    transition: 0.5s;
}

#icon_AiOutlineRight {
    font-size: 22px;
    color: #ccc;
}

.menu_inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_inline:hover .txtP {
    color: #3d76fb;
    transition: 0.5s;
}

.menu_inline:hover #icon_AiOutlineRight {
    color: black;
    transition: 0.5s;
}

.hr {
    width: 100%;
    border: solid 1px #ccc;
  }

  .menu_inline:hover .txtP{
    color: #3d76fb;
    transition: 0.5s;
  }

  .dropdown-menus {
    width: 200px;
    height: auto;
    margin-left: 6.5rem;
    position: absolute;
    margin-top: -1rem;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menus p {
    padding: 5px 8px;
  }
  
  .dropdown-menus ul {
    list-style: none;
  }
  
  .dropdown-menus ul li {
    margin: 0.8rem 0;
  }