/* a {
    text-decoration: none;
}

#container_product {
    width: 65%;
    margin: auto;
    height: auto;
    margin-top: 13rem;
}

.productHead_content {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}


.box_icon_cart:hover {
    color: #FF4F16;
}
.span_Styles {
    width: 20px;
    height: 40px;
    background-color: #3d76fb;
    border-radius: 4px;
}

.htxthead,
.categoryBoxfiler {
    display: flex;
    align-items: center;
    gap: 10px;
}


.spennofStyle {
    width: 20px;
    height: 40px;
    background-color: #3d76fb;
    border-radius: 4px;
}



.box_cart_searchs{
    margin-left: 10.5rem;
}
.box_icon_searchs {
    color: #3a3a3a;
    display: flex;
    font-size: 1.6rem;
    margin-top: -1.3rem;
    padding: 5px 5px;
    border: 1px solid var(--gray);
    border-radius: 10%;
    background-color: #e9e5e5a1;
}

.box_icon_searchs:hover {
    color: #FF4F16;
}
.container_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
    margin-top: 3rem;
}

.container_product h3 {
    font-size: 23px;
    font-family: 600;
}

.contentImageProducts1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
}
.contentImageProducts2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}


.group_itemBox {
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid #eee;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
}

.group_itemBox:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.group_itemBox .img {
    width: 290px;
    height: 280px;
    overflow: hidden;
}

.group_itemBox .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 15px;
}
.group_itemBox .img:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}

.txtOFproduct {
    display: flex;
    padding: 0 20px 20px 20px;
    flex-direction: column;
    text-align: start;
    gap: 16px;
    list-style: none;
}
.txtOFproduct h4{
    font-size: 17px;
}
.txtOFproduct h4:hover{
    color: #3d76fb;
    transition: 0.5s;
}
.price{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
}
.price:hover{
    color: #3d76fb;
    transition: 0.5s;
}
.price_num{
    color: #fb4d3d;
    font-weight: 600;
}

.loadmore_btn_more {
    padding: 12px 50px;
    background: #FF4F16;
    color: #ffffff;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    margin: 3rem 0 2rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}

.btn_more {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_itemBox{
    margin-top: -3rem;
}



@media screen and (max-width: 1024px) {
    .container_product {
        flex-direction: column;
        align-items: flex-start;
    }

    .container_product h3 {
        font-size: 20px;
        margin-bottom: 1rem;
    }

    .contentImageProducts1 {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .contentImageProducts2 {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    
    .group_itemBox .img {
        height: 140px;
    }

    .txtOFproduct {
        padding: 0;
        margin-top: 1rem;
    }
    .box_cart_searchs{
        margin-left: 6.5rem;
        margin-top: 0.5rem;
    }
    .content_itemBox .container_product{
        align-items: flex-start;
    }

    .loadmore_btn_more {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 767px) {
    #container_product {
        width: 90%;
        margin-bottom: 8rem;
    }

    .box_cart_search {
        margin-left: -5rem;
        margin-top: 1rem;
    }

    .contentImageProducts1 {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    .contentImageProducts2 {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
    

    .group_itemBox .img img{
        height: 155px;
    }
    .box_cart_searchs{
        margin-left: 6.3rem;
        margin-top: 0.5rem;
    }
    .txtOFproduct{
        padding: 0 15px 10px 15px;
    }
    .content_itemBox .container_product{
        align-items: flex-start;
    }

    .content_itemBox{
        margin-top: -4rem;
    }
    .contentImageProducts2{
        margin-top: -2rem;
    }
    .spennofStyle {
        width: 18px;
        height: 32px;
    }
} */



.containnerOneday_bodys {
    width: 80%;
    margin: 11.5rem auto 0 auto;
}
body {
    background-color: #FFF;
}

.back_icons_back_one {
    display: flex;
    font-size: 20px;
    gap: 0.5rem;
    color: #858080;
    align-items: center;
    margin-left: 3.5rem;
    margin-bottom: 2rem;
}

.content_item_Onedays{
    width: 90%;
    margin: auto;
    margin-top: -3rem;
}
.container_txt_heads {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
}

.container_txt_heads h3 {
    font-size: 23px;
    font-family: 600;
}
.txt_head_Onedays{
    display: flex;
    align-items: center;
    gap: 10px;
}
.span_Styless {
    width: 20px;
    height: 40px;
    background-color: #3d76fb;
    border-radius: 4px;
}


/*============ box_container =============*/

.box_containers{
    width: 100%;
    margin: auto;
    display: grid;
    gap: 1rem;
}
.box_container_bodys{
    width: 100%;
    height: auto;
    display: flex;
    gap: 2rem;
    border: solid 1px #eee;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    overflow: hidden;
}
.box_container_bodys:hover{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
.container_images{
    width: 300px;
    height: auto;
    overflow: hidden;
}
.container_images img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}
.container_images:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}
.container_des{
    width: 70%;
}
.container_des p{
    padding: 0 15px;
    margin-top: 15px;
}
.container_des h2:hover{
    color: #3d76fb;
    transition: 0.5s;
}
.SiGooglemaps{
    font-size: 16px;
}
.SiGooglemaps:hover{
    color: #3d76fb;
    transition: 0.5s;
}
#icon_map{
    font-size: 1.3rem;
    color: #3d76fb;
}

.txt_oneday{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.txt_price{
    margin-left: -1.2rem;
}
.txt_price:hover{
    color: #3d76fb;
    transition: 0.5s;
}
.price_number_one{
    color: #fb4d3d;
    font-weight: 600;
}



/*===== Responsive =====*/

@media only screen and (max-width: 576px) {
    .containnerOneday_bodys {
        width: 90%;
        margin: 11rem auto 0 auto;
        
    }

    .back_icons_back_one {
        margin-left: -0.5rem;
        margin-bottom: 1rem;
    }

    .content_item_Onedays {
        width: 100%;
        margin: auto;
        margin-top: -2.5rem;
        margin-bottom: 10rem;
    }

    .container_txt_heads {
        margin-top: 1rem;
    }
    .container_images img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }
    .box_containers{
        margin-top: -1.5rem;
    }
    .box_container_bodys{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .container_des{
        width: 100%;
    }
    .container_des p{
        font-size: 20px;
    }

    .IoMdCart{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;

    }
}