.box_container_hotel {
    width: 100%;
    margin: auto;
    z-index: 999;
    padding: 100px 40px 20px 265px;
}

.box_content_hotel {
    width: 100%;
    min-height: 80vh;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    padding: 20px 20px 30px 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.btn_delete_view{
    display: flex;
    gap: 10px;
    align-items: end;
}

.box_btn_saveDelete{
    background-color: #fa1f1fd7;
    padding: 8px 25px;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;  
}
.box_btn_saveEdit{
    background-color: #0E64D2;
    padding: 8px 25px;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;  
}

.notic_available{
    text-align: center;
    color: #0E64D2;
}